.guildeline-wrap {
  margin: 20px auto;
  max-width: 1024px;
}

.guildelines-header {
  //background: url('/images/image/header-image.png') center right no-repeat;
  background: url('/images/image/header-image.png') center right no-repeat;
  background-size: cover;
}
